<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AccountCreateServlet</servlet-name>
        <servlet-class>megatherium.api.servlet.AccountCreateServlet</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>AccountDeleteServlet</servlet-name>
        <servlet-class>megatherium.api.servlet.AccountDeleteServlet</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>AccountListServlet</servlet-name>
        <servlet-class>megatherium.api.servlet.AccountListServlet</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>AccountUpdateServlet</servlet-name>
        <servlet-class>megatherium.api.servlet.AccountUpdateServlet</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>AttackCreateServlet</servlet-name>
        <servlet-class>megatherium.api.servlet.lordsandknights.AttackCreateServlet</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>AttackListServlet</servlet-name>
        <servlet-class>megatherium.api.servlet.lordsandknights.AttackListServlet</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>HabitatCreateServlet</servlet-name>
        <servlet-class>megatherium.api.servlet.lordsandknights.HabitatCreateServlet</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>HabitatListServlet</servlet-name>
        <servlet-class>megatherium.api.servlet.lordsandknights.HabitatListServlet</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>HabitatUpdateServlet</servlet-name>
        <servlet-class>megatherium.api.servlet.lordsandknights.HabitatUpdateServlet</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>PlatformListServlet</servlet-name>
        <servlet-class>megatherium.api.servlet.PlatformListServlet</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>PlayerDataUpdateServlet</servlet-name>
        <servlet-class>megatherium.api.servlet.lordsandknights.PlayerDataUpdateServlet</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>ResourceListServlet</servlet-name>
        <servlet-class>megatherium.api.servlet.lordsandknights.ResourceListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UnitListServlet</servlet-name>
		<servlet-class>megatherium.api.servlet.lordsandknights.UnitListServlet</servlet-class>
	</servlet>
    <servlet>
        <servlet-name>UserCreateServlet</servlet-name>
        <servlet-class>megatherium.api.servlet.UserCreateServlet</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>megatherium.api.servlet.UserLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>AccountCreateServlet</servlet-name>
        <url-pattern>/AccountCreateServlet</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>AccountDeleteServlet</servlet-name>
        <url-pattern>/AccountDeleteServlet</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>AccountListServlet</servlet-name>
        <url-pattern>/AccountListServlet</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>AccountUpdateServlet</servlet-name>
        <url-pattern>/AccountUpdateServlet</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>AttackCreateServlet</servlet-name>
        <url-pattern>/AttackCreateServlet</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>AttackListServlet</servlet-name>
        <url-pattern>/AttackListServlet</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>HabitatCreateServlet</servlet-name>
        <url-pattern>/HabitatCreateServlet</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>HabitatListServlet</servlet-name>
        <url-pattern>/HabitatListServlet</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>HabitatUpdateServlet</servlet-name>
        <url-pattern>/HabitatUpdateServlet</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>PlatformListServlet</servlet-name>
        <url-pattern>/PlatformListServlet</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>PlayerDataUpdateServlet</servlet-name>
        <url-pattern>/PlayerDataUpdateServlet</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>ResourceListServlet</servlet-name>
        <url-pattern>/ResourceListServlet</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>UnitListServlet</servlet-name>
        <url-pattern>/UnitListServlet</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCreateServlet</servlet-name>
        <url-pattern>/UserCreateServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
