<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>TextAddServlet</servlet-name>
        <servlet-class>textconnect.api.servlet.TextAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectionAddServlet</servlet-name>
        <servlet-class>textconnect.api.servlet.ConnectionAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TextListServlet</servlet-name>
        <servlet-class>textconnect.api.servlet.TextListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackCreateServlet</servlet-name>
        <servlet-class>megatherium.api.servlet.FeedbackCreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectionListServlet</servlet-name>
        <servlet-class>textconnect.api.servlet.ConnectionListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TextAddServlet</servlet-name>
        <url-pattern>/TextAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectionAddServlet</servlet-name>
        <url-pattern>/ConnectionAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TextListServlet</servlet-name>
        <url-pattern>/TextListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackCreateServlet</servlet-name>
        <url-pattern>/FeedbackCreateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectionListServlet</servlet-name>
        <url-pattern>/ConnectionListServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
